ul { list-style-type: none; margin-bottom: 5px;}
li { margin: none; padding: none; margin-bottom: 5px;}

.page {
   background-color: #FAFAF4;  
    font-family:  sans-serif;
}

header { 
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}


.paragraph {
    border: solid orange;
    padding-top: 10px;
    font-family:  sans-serif;
}

.testPage { 
    display: flex;
    background-color: #FAFAF4;
}

.passage { 
    padding-left: 5%;
    padding-right: 3%;
    color: black;
    width: 50%;
    border: solid blue;
}

.questions { 
    color: black;
    // display: flex;
    width: 50%;
    border: solid red;
    padding-top: 5%;
}

.answerChoices {
    padding-top: 10px;
    border: solid pink;
}

.question {
    border: solid green;
}